@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $dark-blue;
  background-image: url(/assets/img/bg_image.jpg);
  margin: 0;
  padding: 0;
}